// ftgraphic



.logo1{
		img {
			width: 117px;
			height: 104px;
			position: relative;
			top: 516px;
			left: 1610 px;
		}
			width: 1920px;
			height: 1080px;

background-image: url(/mediafiles/ftfp.png);
background-repeat: no-repeat;
		
}

.logo2{
		img {
			width: 117px;
			height: 104px;
			position: relative;
			top: -562px;
			left: 200px;
		}
}
h2#hn{
		font-size: 2 em;
		float: left;
		position: absolute;
		top: 205 px;
		left: 670 px;
}

h2#an{
		font-size: 2 em;
		float: left;
		position: absolute;
		top: 205 px;
		left: 670 px;
}
h2#score1{
		font-size: 2.8em;
		vertical-align: middle
		text-align: center;
		float: left;
		margin: 0;
        position: absolute;
        top: 570px;
        left: 900px;
        margin-right: 50%;
        transform: translate(-50%, -50%)
	}

h2#score2{
		font-size: 2.8em;
		vertical-align: middle
		text-align: center;
		float: left;
		margin: 0;
        position: absolute;
        top: 570px;
        left: 1040px;
        margin-right: 50%;
        transform: translate(-50%, -50%)
	}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
