// ftgraphic

.logo1{
		img {
			width: 117px;
			height: 104px;
			position: relative;
			top: 516px;
			left: 1610 px;
			 border: solid 2px red;
		}
			width: 1920px;
			height: 1080px;

background-image: url(/mediafiles/ftfp.png);
background-repeat: no-repeat;
		
}

.logo2{
		img {
			width: 117px;
			height: 104px;
			position: relative;
			top: -562px;
			left: 200px;
			 border: solid 2px red;
		}
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
